POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=secret_db
POSTGRES_USER=secret_user
POSTGRES_PASSWORD=SomeSecretRedisPassword
LOG_LEVEL=Debug
{% if cookiecutter.add_redis == "True" -%}
REDIS_PASSWORD=SomeSecretRedisPassword
REDIS_HOST=redis
REDIS_PORT=6379
{% endif %}
HTTPBIN_HOST=https://httpbin.org/
{% if cookiecutter.add_scheduler == "True" -%}
SCHEDULE_TIMER=20
{% endif %}
{% if cookiecutter.add_elastic_search == "True" -%}
ELASTIC_HOST=http://es:9200
{% endif %}